<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>airflow-dag-listener-controller</string>
	<key>CFBundleIconFile</key>
	<string>applet</string>
	<key>CFBundleIconName</key>
	<string>applet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Dagsy</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>arm64</key>
		<string>11.0</string>
		<key>x86_64</key>
		<string>10.15</string>
	</dict>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
